*{
  box-sizing: border-box;
  text-align: center;
}

body {
  /*overflow-y: hidden; Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.gray-background{
  background-image: url("https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png");
}

.cover{
  display: table;
  background: url("https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.wrapper{
  display: table-cell;
  vertical-align: middle;
}

.textbox{
  width: 100vw; 
  height: auto;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  color: whitesmoke;
  background-color: hsla(100,0%,0%,0.6);
  font-family: 'Libre Baskerville', serif;
}

.textbox hr{
  width: 60%;
  border-top: 1px solid whitesmoke; /*valamitől fekete lesz*/
}

.headline{
  color: #d2ba87;
  font-family: 'Great Vibes', cursive;
  font-size: 3.1rem;
  padding-bottom: 1rem;
}

.byline, .tagline{
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
}

/*-------------------------------------------------------------------------------*/
/*---------- Moduls ----------*/

.modul-a, .modul-b{
  padding: 1.6rem 1rem;
  font-family: 'Mulish', sans-serif;
}

.modul-a{
  color: #606060;
}

.modul-b{
  background-color: hsla(0, 0.0%, 37.6%, 0.9);
  color: #d2ba87;
}

.modul-title{
  font-family: 'Great Vibes', cursive;
  font-size: 2.8rem; 
  text-align: center;
}

/*-------------------------------------------------------------------------------*/
/*---------- Cards ----------*/

.card{
  background: unset;
  border: 0px;
  font-size: 1.2rem;
  margin: 0px auto;
}

.card-title{
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.card-img{
  width: 7rem;
  margin: 1rem auto;
  margin-bottom: 2rem;
}

.card p{
  margin: 0rem;
}

.card hr{
  width: 40%;
  margin: 0px auto;
  margin-top: 1rem;
  border: 2px solid #606060; /*valamitől fekete lesz*/
}

.italic{
  font-style: italic;
  font-size: 1.1rem;
  text-align: left;
}

li{
  font-size: 1.2rem;
}

.left-aligned-text{
  text-align: left; 
}

.question{
  font-weight: bold;
}
/*Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  
}*/

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  .textbox{
    width: 50vw; 
    height: 100vh;
  }

  .headline{
    font-size: 7rem;
    line-height: 10rem;
  }

  .byline{
    text-transform: uppercase;
    line-height: 1.5rem;
  }

  .card{
      display: inline-block;
      width: 30vw;
      border: 0px;
  }

  .card hr{
      border: 0px;
  }

  .program-list{
    width:  30%;
    margin: 0px auto;

  }

} 

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  .textbox{
    width: 50vw; 
    height: auto;
  }

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  
}